:root { /* Vars */

    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Font */ 
    --main-font: 'League Spartan', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    height: 100vh;
    background-image: url(/images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: var(--main-font);
    margin: 8.5rem 2.2rem;
}

/* Header */

.header {
    margin-bottom: 3.5rem;
}

.header__container__title {
    margin: 0 auto;
    width: 25rem;
}

.header__title {
    color: var(--very-dark-magenta);
    text-align: center;
    font-weight: 700;
    line-height: 3rem;
    font-size: 3.8rem;
}

.header__text {
    color: var(--dark-grayish-magenta);
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Ratings */

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.rate {
    background-color: var(--light-grayish-magenta);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    margin-top: 1.5rem;
} 

.rate p {
    margin-top: 1rem;
    color: var(--very-dark-magenta);
    font-weight: 700;
    letter-spacing: .05rem;
}

/* Testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimony {
    padding: 3rem 3rem 1.25rem 3rem;
    border-radius: .75rem;
    background-color: var(--very-dark-magenta);
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
}

.testimony__user {
    line-height: .5rem;
    letter-spacing: .075rem;
}

.testimony__name {
    color: var(--white);
    font-weight: 500;
}

.testimony__status {
    color: var(--soft-pink);
    font-weight: 400;
}

.testimony__text {
    grid-column: 1 / 3;
    color: var(--white);
    line-height: 2.2rem;
    font-size: 1.6rem;
    font-weight: lighter;
}

.testimony__img {
    border-radius: 50%;
    max-width: 4rem;
}

.testimonials {
    margin-bottom: 2rem;
}